* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
body {
  /* background-color: #212529 ; */
  background-color: #000;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.name {
  color: aliceblue;
  font-size: calc(1.3rem + 0.6vw);
  text-transform: uppercase;
  font-weight: 700;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}
.navbar > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.link {
  text-decoration: none;
  color: white;
  padding: 20px;
  padding-bottom: 5px;
  color: aliceblue;
  font-size: calc(1.1rem + 0.6vw);
}
.link:hover {
  color: lightsteelblue;
  border-bottom: aliceblue solid 0.25rem;
  border-radius: 5px;
}

.about {
  color: aliceblue;
  font-size: calc(1.3rem + 0.6vw);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.about > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.para1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 3rem;
  margin-top: 20vh;
  flex-wrap: wrap;
}
.name {
  margin-left: 7px;
  padding-left: 1px;
}
.para2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 10rem;
  margin-right: 10rem;
  flex-wrap: wrap;
}
.project {
  color: aliceblue;
  font-size: calc(3.3rem + 0.6vw);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 35vh;
}
.container1 {
  margin-top: 3em;
  padding: 0.3em;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
  
}
.skills {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  /* flex-wrap: wrap;  */
  /* add this in phone view */
}
.card {
  padding: 3em;
  margin: 2em;
  background-color: #000;
  border: 1px solid aliceblue;
}
.card4 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.3em;
}
.card-title {
  font-weight: 500;
  color: aliceblue;
  margin-top: 5px;
}
.card-title3{
  height:44px;
}
@media only screen and (max-width: 940px) {
  * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
body {
  /* background-color: #212529 ; */
  background-color: #000;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  .para1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 3rem;
    margin-top: 29vh;
    flex-wrap: wrap;
}

  .skills {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;  
}
}
@media only screen and (max-width: 480px){
  * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
body {
  /* background-color: #212529 ; */
  background-color: #000;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  .para1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-bottom: 3rem;
    margin-top: 29vh;
    flex-wrap: wrap;
}
.para2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 0rem;
  margin-right: 0rem;
  flex-wrap: wrap;
}
}
